html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
  }

.bigBox, .bigBox2, .bigBox3, .bigBox4, .bigBox5{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 20vh;
}

.box, .box2, .box3,.box4,.box5{
    background-color: red;
    /* position: fixed;
    bottom: 0;
    left: 80%; */
    width: 20%;
    height: 100%;
    border: 1rem solid #73AD21;
}

.block{
    background-color: #86358d;
    height: 5rem;
    width: 5rem;
}
.left{
    position: absolute;
    left: 1rem;
    top: 2 rem;
    width: 1rem;
    z-index: 99;
}
.right{
    position: absolute;
    left: 5rem;
    top: 2 rem;
    width: 1rem;
    z-index: 99;
}
.up{
    position: absolute;
    left: 9rem;
    top: 2 rem;
    width: 1rem;
    z-index: 99;
}
.down{
    position: absolute;
    left: 13rem;
    top: 2 rem;
    width: 1rem;
    z-index: 99;
}

.btns{
    z-index: 99999;
}